<!-- Your greeting page -->
<!-- TTS-SLIDE27 -->

<h1>Your Twitter Feed</h1>
<p>Hello, <%= current_user.name %> !</p>
<p>Here is what your friends are saying:</p>

<div>
 <% @following_tweets.each do |f| %>
   <div> 
   	<p> <%= f.message %> </p>
   	<p><strong><em> <%= f.user.username %> </em></strong></p>
   </div>
</div>
<% end %>   